body {
  background-image: url(../img/backg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
sections {
  text-align: left;
  float: right;
}

header {
  padding: 20px;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline-block;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

section {
  padding: 50px;
  color: #333;
  text-align: center;
  color: crimson;
}

footer {
  background-color: transparent
  padding: 20px;
  color: #fff;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
}

nav li {
  display: inline-block;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

#count {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0;
  color: black;
}